:root {
  --Blue:#08197f;
  --White:#fff;
  --Green:rgb(11, 116, 11);
  --Dark:#232528;
  --Lgrey:rgb(0,0,0);
 --Grey: #838383;
 --Org:#ff8f00;
 --Off:#e0e0e0;
}
*:hover{
text-decoration: none !important;
}
body {
  font-family: 'Nunito Sans', sans-serif ;
  background: var(--Off) !important;
  color:var(Dark) !important;
}
.text-cool{
  font-family: 'Nunito Sans', sans-serif ;
}
.text-title{
  font-family: 'Mukta:700', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color:var(Dark);
}
.text-serif{
  font-family: 'PT serif';
}
.text-blue{
  color: var(--Blue);
}
.text-blue:hover{
  color: var(--Off);
}
.grey{
  background-color: var(--Grey) !important;
  border-bottom: 5px solid var(--Org);
}
.text-green{
  color:var(--Green);
}
.text-white{
  color: var(--White);
}
.start{
  font-size: 4rem;
  display: none;
  transition: all 5s linear;
  transition-delay: 1s !important;
}
.box{
  background-color: var(--Grey);
  padding: 15px;
  border-radius: 15px;
}
.ttt{
  color: var(--Blue);
  border-radius: 40px;
  cursor: pointer;
}
.ttt:hover{
  
  transition:all .25s linear;
  color: var(--Org);
  transform: scale(1.2);
}
.nnn{
  color: var(--Off);
}

.zoom{
  position: relative;
  top:0;
  left:0;
  transition: all .5s ease-in-out;
}
.zoom:hover{
  transform: scale(1.2);
  
}

.grad{
  transition: all .25s ease-in-out;
}
.grad:hover{
  transform: scale(1.5);
}
.mt10 {
  margin-top:200px !important;
}


.button2{
  position: relative;
  
}
#submit{
  font-size: 16px;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  background-color: black;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}
#submit:hover{
  background-color: rgba(20, 20, 20, 0.781);
  box-shadow: 2px 2px rgb(27, 27, 27);

}
input[type=text]{
  background-color: rgb(224, 230, 252);
  width: 30%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 25px;
  text-align: center;
}
input{
  outline-width: 0;
}
#bbands{
  font-size: 16px;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(253, 192, 192);
  border: 1px solid white;
  color: rgb(10, 10, 10);
  margin-top: 5px;
  cursor: pointer;
  outline-width: 0;

}
#bbands:hover{
  background-color: rgb(255, 217, 217);

}
#ma{
  font-size: 16px;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  background-color: rgb(253, 192, 192);
  border: 1px solid white;
  color: rgb(10, 10, 10);
  margin-top: 5px;
  cursor: pointer;
  outline-width: 0;
  margin-left: 4px;
}
#ma:hover{
  background-color: rgb(255, 217, 217);
}
#periodlabel{
  margin-left: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

#period{
  padding-left: 10px;
  padding-right:4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(231, 229, 229);
  border-radius: 15px;

}

#period input:focus {
  outline: 0;
}
.width{
  width: 200px !important;
  padding: 5px;
  margin-right: 15px;
}